/* Link to TypeKit Fonts */
@import url("https://use.typekit.net/sgu2yrp.css");

header {
    height: 80px;
    width: 100%;
    opacity: 80%;
    background-color: lavender;
    border: 0px, 0px, 1px, 0px;
    border-bottom-color: grey;
    border-style: solid;
}

body {
    font-family: "mr-eaves-modern", Arial, Helvetica, sans-serif;
    color: #777;
}

h1 {
    font-family: "mrs-eaves-roman-all-petite-c","Georgia", serif;
    font-style: normal;
    font-weight: 400;
    color: #8977a1;
    background-color: #d5cce9;
    height: 80px;
    width: 300px;
    float: left;
    margin-left: 10%;
    padding-top: 30px;
    padding-left: 20px;
    
}

nav {
    float: right;
    color: #777;
    margin-right: 10%;
    padding-top: 30px;

    
}

h2 {
    font-family: "mrs-eaves-roman-all-petite-c","Georgia", serif;
    font-style: normal;
    font-weight: 400;
    color: #8977a1;
}

section {

}

.content {

}

.text {

}

#profile {

}

footer {

}

h6 {
    
}